<header class="py-3 px-6 bg-slate-50 flex justify-between">
  <a
    class="flex rounded-lg space-x-3 border border-slate-300 px-3 py-1 bg-gray-400 text-white"
    routerLink="/dashboard"
  >
    <img src="assets\building.svg" class="w-5 h-5" />
    <p>Jim for Construction</p>
  </a>
  <p>{{ title }}</p>
  <button
    *ngIf="userService.user; else loginBlock"
    (click)="logOut()"
    class="border border-sky-400 text-sky-400 hover:bg-sky-500 hover:text-white p-2 rounded-md"
  >
    Log Out
  </button>
  <ng-template #loginBlock>
    <button
      (click)="login()"
      class="border border-sky-400 text-sky-400 hover:bg-sky-500 hover:text-white p-2 rounded-md"
    >
      Log In
    </button>
  </ng-template>
</header>
