<div class="h-screen flex justify-center items-center flex-col gap-10">
  <h1
    class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    Login as :
  </h1>
  <div class="flex justify-center items-center space-x-10">
    <button
      (click)="logIn('Foreman')"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      Foreman
    </button>
    <button
      (click)="logIn('Site Engineer')"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      Site Engineer
    </button>
  </div>
</div>
