<div class="flex flex-col justify-center items-center mx-5 my-6">
  <span class="text-3xl mb-4">Work Order of ID 3 Work Items Details</span>
  <table class="table-fixed w-full bg-white bg-opacity-30 rounded-lg shadow-md">
    <thead class="bg-gray-600 text-white">
      <tr>
        <th class="px-4 py-2 w-11">ID</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Location</th>
        <th class="px-4 py-2">Progress</th>
        <th class="px-4 py-2" *ngIf="userService.user === 'Site Engineer'">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of workItems; let i = index"
        [class.bg-gray-300]="i % 2 === 0"
        class="bg-opacity-30"
      >
        <td class="px-4 py-2 font-bold">{{ item.id }}</td>
        <td class="px-4 py-2">{{ item.description }}</td>
        <td class="px-4 py-2 text-center">
          {{ item.location }}
        </td>
        <td class="px-4 py-2 flex flex-col">
          <span class="text-center font-semibold">{{ input_i.value }}%</span>
          <input
            #input_i
            type="range"
            class="block w-full appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded-lg leading-tight focus:outline-none focus:shadow-outline-blue focus:border-blue-300"
            min="0"
            max="100"
            step="1"
            [(ngModel)]="item.progress"
          />
        </td>
        <td *ngIf="userService.user === 'Site Engineer'">
          <div class="flex justify-center items-center">
            <button
              (click)="removeWorkItem(item.id)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
            >
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4"
    (click)="save()"
  >
    Save Changes
  </button>
</div>
