<div
  *ngIf="workOrder"
  class="bg-white mx-4 rounded-lg shadow-lg overflow-hidden"
>
  <div class="px-6 py-4 w-[42rem]">
    <div class="font-bold text-xl mb-2">Task Details</div>
    <p class="text-gray-700 text-base my-4">
      Overall Progress: <span class="font-bold">{{ average }}%</span>
    </p>
    <div
      class="flex items-center mb-4"
    >
      <div
        *ngIf="tasksStatus.finished"
        [style.width.%]="
          (tasksStatus.finished / workOrder.workItems.length) * 100
        "
        class="h-4 relative flex justify-center items-center bg-green-500 first:rounded-l-full last:rounded-r-full"
      >
        <span
          class="text-xs whitespace-nowrap text-gray-800 font-bold absolute mr-2"
          >Finished</span
        >
      </div>
      <div
        *ngIf="tasksStatus.inProgress"
        [style.width.%]="
          (tasksStatus.inProgress / workOrder.workItems.length) * 100
        "
        class="h-4 relative flex justify-center items-center bg-yellow-500 first:rounded-l-full last:rounded-r-full"
      >
        <span
          class="text-xs whitespace-nowrap text-gray-800 font-bold absolute mr-2"
          >In-Progress</span
        >
      </div>
      <div
        *ngIf="tasksStatus.toDo"
        [style.width.%]="(tasksStatus.toDo / workOrder.workItems.length) * 100"
        class="h-4 relative flex justify-center items-center bg-red-500 first:rounded-l-full last:rounded-r-full"
      >
        <span
          class="text-xs whitespace-nowrap text-gray-800 font-bold absolute mr-2"
          >Not Started</span
        >
      </div>
    </div>
    <p class="text-gray-700 text-base">
      Description:
      <span class="font-bold">{{ workOrder.header.operationDescription }}</span
      ><br />
      Estimated Time:
      <span class="font-bold">{{ daysLeftEstimation }} days</span><br />
      Subtasks:
      <span class="font-bold text-green-500"
        >{{ tasksStatus.finished }} finished</span
      >,
      <span class="font-bold text-yellow-500"
        >{{ tasksStatus.inProgress }} in-progress</span
      >,
      <span class="font-bold text-red-500"
        >{{ tasksStatus.toDo }} not started</span
      >
    </p>
  </div>
  <div class="px-6 py-4">
    <a
      class="px-4 py-2 font-semibold rounded-full text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
      routerLink="/details/{{ workOrder.header.id }}"
    >
      View Details
    </a>
  </div>
</div>
